@model TSB.ViewModel.DetailsCategory
@{
    ViewBag.Title = ViewBag.messenger;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    if (Model.Category.TypeShow == TSB.Entites.TyShow.Article)
    {
       
        <div class="container contact">
            <div class="row">

                <div class="col-xs-12 col-md-10 ">
                    <h2> <i class="far fa-chevron-circle-right"></i><span>GIỚI THIỆU CÔNG TY</span></h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td scope="col" class="td-30">Tên công ty</td>
                                <td scope="col" class="td-70">
                                    Công ty TNHH TSB
                                </td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" class="td-30">CEO/Representative	</td>
                                <td scope="col" class="td-70">
                                    Isamu Kaburagi
                                </td>
                            </tr>
                            <tr>
                                <td scope="row" class="td-30">
                                    Sơ lược Hoạt động kinh doanh
                                </td>
                                <td scope="col" class="td-70">
                                    <p> Nhập khẩu và Xuất khẩu linh kiện điện, bán ra thị trường nội địa</p>
                                    <p>
                                        Nhập khẩu và Xuất khẩu linh kiện điện tử như cổng kết nối, cáp kết nối, bán ra thị trường nội địa
                                    </p>
                                    <p>
                                        Nhập khẩu và Xuất khẩu máy móc sản xuất linh kiện điên tử như cổng kết nối, cáp kết nối, bán ra thị trường nội địa
                                    </p>
                                    <p>
                                        Kinh doanh Giải pháp Sinh thái
                                    </p>

                                </td>
                            </tr>
                            <tr>
                                <td class="td-30"> Thành lập</td>
                                <td class="td-70">
                                    Sept. 1996
                                </td>
                            </tr>
                            <tr>
                                <td class="td-30">
                                    Vốn đầu tư
                                </td>
                                <td class="td-70">
                                    <p>
                                        US$990,000 （Domestic- Nội địa）,US$1,800,000（Overseas- Nước ngoài）
                                    </p>
                                    <p>
                                        US$2,800,000（TSB Group-Tập đoàn TSB）
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-30">
                                    Nhân viên
                                </td>
                                <td class="td-70">
                                    45（Domestic- Nội địa）、450名（Including Overseas- bao gồm nước ngoài）

                                </td>
                            </tr>
                            <tr>
                                <td class="td-30">Doanh thu hàng năm</td>
                                <td class="td-70">
                                    US$73Million（2013）
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-md-2 p-0">
                    <ul>
                        @foreach (var category in Model.CategoryHome.Where(x => x.ParentId == null).Skip(1).Take(1))
                        {
                            <li class="action">@category.Name</li>
                            foreach (var childs in Model.CategoryHome.Where(x => x.ParentId == category.Id))
                            {
                                <li><a href="@Url.Action("category","Home",new { catID = childs.Id})"><i class="far fa-chevron-circle-right"></i>@childs.Name</a></li>
                               
                            }

                        }

                    </ul>

                </div>
            </div>





        </div>
    }
    else if (Model.Category.TypeShow == TSB.Entites.TyShow.Article)
    {
        <div class="container contact">
            <div class="row">
                <div class="col-xs-12 col-md-10 ">
                    <h2> <i class="far fa-chevron-circle-right"></i><span>LỊCH SỬ PHÁT TRIỂN</span></h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td scope="col">1996 Sept.</td>
                                <td scope="col">
                                    Thành lập công ty Tokyo SINBON. Vốn đầu tư US$300,000
                                </td>
                                @*<td rowspan="13" style="width:26%;">
                                        <p style="text-align:center;"><img src="~/Content/img/history/2.png" alt="" /></p>
                                        <p style="text-align:center;"><img src="~/Content/img/history/3.png" alt="" /></p>
                                        <p style="text-align:center;"><img src="~/Content/img/history/4.png" alt="" /></p>
                                    </td>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1999 Oct.</td>
                                <td scope="col">
                                    Thành lập nhà máy Hakuba

                                </td>

                            </tr>
                            <tr>
                                <td scope="row">2003 Feb.</td>
                                <td scope="col">
                                    Thành lập TSB Bangkok
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2003 Nov.</td>
                                <td scope="col">
                                    Tăng vốn lên US$990,000
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2005 Feb.</td>
                                <td scope="col">
                                    Thành lập TSB Thượng Hải

                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2005 May.</td>
                                <td scope="col">
                                    Thành lập Văn phòng TSB HongKong và Trường An

                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2006 Apr.</td>
                                <td scope="col">
                                    Đổi tên Công ty thành Công ty TNHH TSB

                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2007 May.</td>
                                <td scope="col">
                                    Thành lập TSB Việt Nam

                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2008 Feb.	.</td>
                                <td scope="col">
                                    Thành lập TSB Lào
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2010 Mar.	.</td>
                                <td scope="col">
                                    Thành lập Văn phòng TSB Thượng Hải Tô Châu

                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2012 Feb.	</td>
                                <td scope="col">
                                    Thành lập chi nhánh TSB Đài Loan

                                </td>
                            <tr>
                                <td scope="row">2012 Oct.</td>
                                <td scope="col">
                                    Thành lập Văn phòng TSB Kuala Lumpur

                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2014年	.</td>
                                <td scope="col">
                                    Kế hoạch thành lập TSB Manila

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-md-2 p-0">
                    <ul>
                        @foreach (var category in Model.CategoryHome.Where(x => x.ParentId == null && x.TypeShow == TSB.Entites.TyShow.Article).Take(1))
                        {
                            <li class="action">@category.Name</li>
                            foreach (var chils in Model.CategoryHome.Where(x => x.ParentId == category.Id))
                            {
                                <li><a href="@Url.Action("category", "Home", new { catId = chils.Id })"><i class="far fa-chevron-circle-right"></i>@chils.Name</a></li>
                                @*<li><a href="@Url.Action("History","Home")"><i class="far fa-chevron-circle-right"></i>Lịch sử phát triển</a></li>
                                    <li><a href="#"><i class="far fa-chevron-circle-right"></i>Sơ đồ tổ chức</a></li>
                                    <li><a href="#"><i class="far fa-chevron-circle-right"></i>Mạng lưới TSB</a></li>
                                    <li><a href="#"><i class="far fa-chevron-circle-right"></i>Sơ đồ chức năng</a></li>*@
                            }


                        }

                    </ul>
                </div>
            </div>
        </div>
    }
    else if (Model.Category.TypeShow == TSB.Entites.TyShow.Article)
    {
        <div class="container contact">

        <div class="row">
            <div class="col-xs-12 col-md-10 ">
                <h2 style=" text-transform:uppercase"> <i class="far fa-chevron-circle-right"></i><span> @ViewBag.messenger</span></h2>
                <div class="img">
                    <img src="~/Content/img/bieu-do.jpg" alt="" />
                </div>
            </div>
            <div class="col-xs-12 col-md-2 p-0">
                <ul>
                    @foreach (var category in Model.CategoryHome.Where(x => x.TypeShow == TSB.Entites.TyShow.Article && x.ParentId == null).Take(1))
                    {
                        <li class="action">@category.Name</li>
                        foreach (var childs in Model.CategoryHome.Where(x => x.ParentId == category.Id))
                        {
                            <li><a href="@Url.Action("Introl","Home",new { catID = childs.Id})"><i class="far fa-chevron-circle-right"></i>@childs.Name</a></li>
                           
                        }

                    }
                </ul>
            </div>
        </div>

        </div>
    }
}
