@model TSB.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Thông tin ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container contact">
    <div class="row">
        <div class="col-xs-12 col-md-10 ">           
                <h2 style=" text-transform:uppercase"> <i class="far fa-chevron-circle-right"></i><span>@Model.Article.Name</span></h2>
                <div class="text-content">
                    <div class="img">
                        <img src="@Model.Article.Image" alt="" />
                    </div>
                    <div class="content">
                        @Html.Raw(Model.Article.Content)
                    </div>
                </div>  
        </div>
        <div class="col-xs-12 col-md-2 p-0">
            <ul>
                @foreach (var category in Model.CategoryHome.Where(x =>x.ParentId == null).Take(1))
                {
                    <li class="action">@category.Name</li>
                    foreach (var childs in Model.Articles.Where(x =>x.CategoryId == category.Id))
                    {
                        <li><a href="@Url.Action("Details","Home",new { id = childs.Id})"><i class="far fa-chevron-circle-right"></i>@childs.Name</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

