@model TSB.ViewModel.aboutfotter

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="logo">
                    @foreach (var item in Model.Baners.Where(x => x.Positon == TSB.Entites.GruopBaner.Logo))
                    {
                        <a href=""> <img src="@item.Image" alt="" /></a>
                    }
                </div>
                <div class="addres">                 
                        <h2>
                            @Html.Raw(Model.Config.Name)
                        </h2>
                        <ul>
                            <li class="loca">
                                <i class="fal fa-map-marker-alt"></i>   Địa chỉ: @Model.Config.Addres

                            </li>
                            <li>
                                <i class="fad fa-phone-alt"></i> Điện thoại:  @Model.Config.Phone

                            </li>
                            <li>
                                <i class="fad fa-print"></i>  Fax: +84(0)@Model.Config.Fax
                            </li>
                            <li>
                                <i class="fal fa-envelope"></i>Email:   @Model.Config.Email
                            </li>
                        </ul>
                </div>
            </div>
            @foreach (var category in Model.Categories.Where(x => x.ParentId == null).Take(1))
            {
                <div class=" col-md-3">
                    <div class="name">
                        @category.Name
                    </div>
                    <ul>
                        @foreach (var childs in Model.Categories.Where(x => x.ParentId == category.Id))
                        {
                            <li>
                                <a href="@Url.Action("Details", "Home", new { catid = childs.Id})">@childs.Name</a>
                            </li>
                        }
                       
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                        <div class="name">
                           Thông tin
                        </div>
                        <ul>
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            @foreach (var item in Model.Categories.Where(x => x.ParentId == null).Skip(2).Take(3))
                            {
                                <li><a href="@Url.Action("category","Home", new { catId = item.Id})">@item.Name</a></li>
                                @*<li>
                                    <a href="">Tin tức</a>
                                </li>
                                <li>
                                    <a href="">Tuyển dụng</a>
                                </li>*@
                            }
                            <li>
                                <a href="">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
            }
            <div class=" col-md-2">
                <div class="name">
                    Facebook
                </div>
            </div>
        </div>
    </div>
</footer>